/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  background-color: white;
  font-family: Helvetica, arcss(unknownAtRules)ial, sans-serif;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #87848491;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}